<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/auth/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>

    <label for="accounttype">Account Type:</label>
    <input type="text" name="accounttype" id="accounttype" required>
    <br>
    <label for="accounttype">Tel Number:</label>
    <input type="text" name="tel" id="tel" required>
    <br>
    <label for="accounttype">Address:</label>
    <input type="text" name="address" id="address" required>
    <br>

    <input type="submit" value="Register">
  </form>
</body>
</html>
